html {
  scroll-behavior: smooth;
}

#main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
* {
  text-decoration: none;
  color: black;
}

body {
  /* font-family: 'Charmonman', cursive; */
  font-family: "Asap", sans-serif;
  font-size: 16px / 1em;
  -height: 1.5;
  text-align: center;
  padding: 3em;
  text-decoration: none;
}

#header {
  padding: 3rem 0;
  text-align: center;
  background-color: #cca353;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}

#click {
  padding: 20 0;
  font-size: 1.5em;
  color: black;
}

#banner {
  padding-top: 40px;
  /* height: 400px;
  background-image: url("KcnoAB6Ki.png");
  width: 100%;
  background-repeat: no-repeat, repeat; */
}
button {
  font-size: 2em;

  margin-bottom: 1em;
  border-radius: 0.25rem;
  cursor: pointer;

  border-radius: 0.75rem;
}

#events li {
  color: black;
  border: none;
  position: relative;
  /* height: 1.5em;
  font-size: 1.6em; */
  font-weight: 300;
  padding: 0.5rem;
  cursor: pointer;
  transition: 800ms ease all;
  border-radius: 1.75;
}
#events li:hover {
  /* background: #fff; */
  color: #cca353;
  background: rgb(152,251,152,0.5);
}
#events li:before,
#events li:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #cca353;
  transition: 400ms ease all;
}
#events li:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
#events li:hover:before,
#events li:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
#events li span {
  font-weight: 450;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: grey;
}
#events {
  list-style-type: none;
  /* border: 3px solid #1aab8a; */
}

#tfl {
  text-align: left;
  font-size: 1.5rem;
}
#tfl h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: #e0703f;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

#duration {
  padding-top: 20px;
}
#legs li span {
  padding-right: 10px;
}

#legs li {
  padding-bottom: 20px;
  line-height: 1.5;
}

#time {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0.66rem 0;
  font-size: 1.8rem;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #e80c7f;
}
#duration,
#start,
#arrival {
  color: white;
}
